<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- https://ubi.aiki.info/app/ --> 

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Document</title>


	<script src="ext/vue.js"></script>
	<script src="ext/axios.js"></script>
	<script src="use/templa2.js"></script>

	<link rel="stylesheet" href="ext/foundation.css" />
	<link rel="stylesheet" href="index.css" />
</head>

<body>

	<div id="app">
		<p>{{ message }}</p>

		<input type="text" v-model="form1.name">
		<button class="button" @click="hello()">hello</button>
		<button class="button" @click="fetch()">fetch</button>

		<hr />

		<!-- {{this.form1.fields}} -->

		<div class="grid-container">
			<div class="grid-x">
				<template v-for="field in formStructure()">

					<div class="cell small-4">
						<label class="capitalize">{{field.name}}: ( {{field.type}} ) </label>
					</div>

					<div class="cell small-8" >
						<input type="text" v-model="field.value" :readonly="field.readonly" :placeholder="field.name" v-if="['string','set(int)'].indexOf(field.type)!==-1">
						<input type="url" v-model="field.value" :readonly="field.readonly" :placeholder="field.name" v-if="['url'].indexOf(field.type)!==-1">
						<input type="date" v-model="field.value" :readonly="field.readonly" :placeholder="field.name" v-if="['date'].indexOf(field.type)!==-1">
						<input type="number" v-model="field.value" :readonly="field.readonly" :placeholder="field.name" v-if="['int','float'].indexOf(field.type)!==-1">
						<textarea v-model="field.value" :readonly="field.readonly" cols="30" rows="10" v-if="['text','set(string)'].indexOf(field.type)!==-1"></textarea>
						<textarea v-model="field.value" style="font-size:small; font-family:monospace;" :readonly="field.readonly" cols="30" rows="10" v-if="['code'].indexOf(field.type)!==-1"></textarea>
						<input type="checkbox" v-model="field.value" :readonly="field.readonly" value="1" v-if="['bit'].indexOf(field.type)!==-1">
	
					</div>
	
				</template>

			</div>
		</div>


	</div>
	<script src="index.js"></script>

</body>

</html>
